.game-clock {
	position: absolute;
	bottom: 1vh;
	left: 1vh;
	color: white;
	font-family: 'Press Start 2P', cursive;
	font-size: 3vh;
	-webkit-user-select: none; /* Chrome/Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+ */
}